@font-face {
  font-family: osw_b;
  src: url(../fonts/oswald-bold.ttf); }

@font-face {
  font-family: museo_t;
  src: url(../fonts/MuseoSansCyrl_0.otf); }

@font-face {
  font-family: museo_r;
  src: url(../fonts/MuseoSansCyrl_1.otf); }

@font-face {
  font-family: museo_bold;
  src: url(../fonts/MuseoSansCyrl_2.otf); }

.account_form {
  position: relative; }
  .account_form > div {
    position: relative;
    margin-bottom: 30px; }
  .account_form-label {
    margin-bottom: 10px;
    display: inline-block;
    letter-spacing: 2px; }
  .account_form-control {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 2px solid #FFF;
    color: #463f3a;
    font-family: museo_t;
    font-size: 1.25rem; }
  .account_form-btn {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: #FFF;
    color: #463f3a;
    text-transform: uppercase;
    transition: 0.7s; }
    .account_form-btn:hover {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); }
  .account_form-error {
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0; }
  .account_form > .account_form-error {
    position: absolute;
    top: 0%; }
