@font-face {
  font-family: osw_b;
  src: url(../fonts/oswald-bold.ttf); }
@font-face {
  font-family: museo_t;
  src: url(../fonts/MuseoSansCyrl_0.otf); }
@font-face {
  font-family: museo_r;
  src: url(../fonts/MuseoSansCyrl_1.otf); }
@font-face {
  font-family: museo_bold;
  src: url(../fonts/MuseoSansCyrl_2.otf); }
* {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  min-width: 320px;
  font-family: osw_b, museo_t, 'Arial';
  font-size: 16px;
  color: #463f3a; }

a {
  color: #463f3a;
  text-decoration: none;
  transition: color 0.7s; }

a:hover {
  color: #f55856; }

li {
  list-style: none; }

button {
  padding: 10px 0;
  background-color: #463f3a;
  color: #FFF;
  font-family: osw_b;
  font-size: 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.7s; }
  button:hover {
    color: #f55856; }

input {
  font-size: museo_r; }
  input[type=submit] {
    background: none;
    font-family: osw_b;
    cursor: pointer; }

button:focus, input:focus {
  outline: none; }

.red-color {
  color: #f55856; }

.popup-window-template {
  display: none;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .popup-window-template .popup-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .popup-window-template .popup-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: #f55856; }
  .popup-window-template.open {
    display: block; }

.shop-cart-fixed {
  z-index: 5;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX(100%);
  width: 80px;
  height: 100px;
  border: 3px solid #f55856;
  border-right: none;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  background-color: #463f3a;
  transition: 0.7s; }
  .shop-cart-fixed-content {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    text-align: right;
    text-transform: uppercase;
    color: #FFF; }
    .shop-cart-fixed-content a {
      color: #FFF; }
      .shop-cart-fixed-content a:hover {
        color: #f55856; }
    .shop-cart-fixed-content > span {
      display: inline-block;
      vertical-align: middle;
      width: 100%; }
  .shop-cart-fixed .btn-cart-fixed {
    z-index: 6;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%) translateX(-105%);
    /*+border of parent*/
    cursor: pointer; }
    .shop-cart-fixed .btn-cart-fixed.fa {
      font-size: 2.5rem;
      color: #f55856;
      transition: 0.7s; }
  .shop-cart-fixed.open {
    transform: translateY(-50%) translateX(0); }
    .shop-cart-fixed.open .btn-cart-fixed {
      transform: translateY(-50%) translateX(-5%) rotate(180deg); }

.wrapper {
  position: relative;
    /*
	min-height: 500px;
	min-height: 100vh;
    */
  min-height: 100px; }
  .wrapper > div {
    padding: 0 8%; }
  @media screen and (min-width: 2200px) {
    .wrapper div[class], .wrapper ul {
      text-align: center !important; } }

.intro .info {
  font-family: museo_t;
  font-size: 0.875rem;
  min-height: 40px;
  line-height: 40px; }
  .intro .info > div {
    width: 50%;
    display: inline-block;
    vertical-align: top; }
  .intro .info .info-support a:nth-child(n+2) {
    margin-left: 15px; }
  .intro .info .info-support .fa {
    font-size: 1rem; }
  .intro .info .info-account {
    text-align: right; }
    .intro .info .info-account li {
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase; }
      .intro .info .info-account li:nth-child(n+2) {
        margin-left: 15px; }
  @media screen and (max-width: 800px) {
    .intro .info > div[class] {
      width: 100%;
      text-align: center; } }
@media screen and (max-width: 800px) and (max-width: 500px) {
  .intro .info .info-support a:nth-child(n) {
    display: block;
    margin: 0; }
  .intro .info .info-account li:nth-child(n) {
    width: 50%;
    margin: 0; } }

.intro .header-container {
  background-color: #f5f6f1; }
  .intro .header-container header {
    min-height: 170px;
    box-sizing: border-box;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: justify; }
    .intro .header-container header > div {
      display: inline-block;
      vertical-align: top;
      line-height: 170px; }
    .intro .header-container header .logo {
      width: 25%; }
      .intro .header-container header .logo img {
        display: inline-block;
        vertical-align: middle; }
    .intro .header-container header .nav {
      width: 50%;
      font-family: museo_r;
      font-size: 1.125rem;
      text-align: center; }
      .intro .header-container header .nav li {
        display: inline-block;
        vertical-align: top;
        margin-left: 30px; }
        .intro .header-container header .nav li:first-child {
          margin: 0; }
        .intro .header-container header .nav li:nth-child(n+2) {
          position: relative; }
          .intro .header-container header .nav li:nth-child(n+2):before {
            display: inline-block;
            content: "";
            position: absolute;
            top: 50%;
            left: -18px;
            transform: translateY(-50%) rotate(20deg);
            height: 1.125rem;
            border-right: 2px solid #f55856; }
    .intro .header-container header .shop-card {
      width: 25%;
      text-align: right; }
      .intro .header-container header .shop-card > div {
        display: inline-block;
        vertical-align: top; }
      .intro .header-container header .shop-card .shop-card-info {
        vertical-align: middle; }
        .intro .header-container header .shop-card .shop-card-info > span {
          display: block;
          max-width: 100px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          line-height: 1.5rem; }
      .intro .header-container header .shop-card .shop-card-icon {
        margin-left: 5px; }
        .intro .header-container header .shop-card .shop-card-icon img {
          vertical-align: middle;
          margin-bottom: 4px; }
    @media screen and (max-width: 1100px) {
      .intro .header-container header {
        padding: 2rem 0; }
        .intro .header-container header > div[class] {
          width: 100%;
          margin-left: 0;
          text-align: center;
          line-height: 6rem; }
        .intro .header-container header .nav {
          line-height: 100px; }
          .intro .header-container header .nav li:last-child {
            margin-bottom: 0; } }
    @media screen and (max-width: 550px) {
      .intro .header-container header div.nav ul {
        line-height: 3rem; }
        .intro .header-container header div.nav ul li {
          width: 50%;
          margin: 0; }
          .intro .header-container header div.nav ul li:nth-child(n):before {
            display: none; } }
.intro .slider-container {
  padding-top: 20px; }
.intro .intro-features {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }
  .intro .intro-features-box {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 120px;
    box-sizing: border-box;
    padding: 25px 10px;
    margin: 0 20px 30px 20px;
    background-color: #f5f6f1; }
    .intro .intro-features-box h3 {
      margin-bottom: 10px;
      font-size: 1.5rem;
      text-transform: uppercase;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .intro .intro-features-box p {
      font-family: museo_bold;
      font-size: 0.875rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
  @media screen and (max-width: 600px) {
    .intro .intro-features-box {
      width: 280px;
      padding: 25px 10px;
      margin: 0 0 30px 0; } }

/* Class: Items card start */
.items-list {
  text-align: center; }
  .items-list .item-container {
    display: inline-block;
    vertical-align: top;
    min-width: 275px;
    box-sizing: border-box;
    padding: 0 20px;
    margin-bottom: 40px; }
    .items-list .item-container .item {
      max-height: 340px;
      width: 275px;
      margin: 0 auto;
      text-align: left; }
      .items-list .item-container .item img {
        width: 100%;
        height: 200px; }
      .items-list .item-container .item > span {
        display: block;
        max-height: 2rem;
        line-height: 2rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .items-list .item-container .item span:last-of-type {
        margin-bottom: 10px; }
      .items-list .item-container .item .description {
        font-size: 1.125rem;
        font-family: museo_t; }
      .items-list .item-container .item .price {
        font-family: museo_bold;
        font-size: 1.25rem; }
      .items-list .item-container .item button {
        display: inline-block;
        width: 100%; }
        .items-list .item-container .item button.clicked {
          background-color: #f55856; }
          .items-list .item-container .item button.clicked:hover {
            color: #FFF; }
  @media screen and (max-width: 600px) {
    .items-list {
      padding-top: 50px; }
      .items-list .item-container {
        width: 100%;
        padding: 0; } }

/* Class: Items card end */
.items {
  padding-top: 50px; }
  .items-container > div {
    display: inline-block;
    vertical-align: top; }
  .items-container .items-interface {
    width: 30%;
    box-sizing: border-box;
    /*border-right: 2px solid $dark-color;*/
    text-align: left;
    color: #463f3a; }
    .items-container .items-interface form {
      max-width: 300px;
      margin: 0 auto;
      font-size: 1.5rem; }
      .items-container .items-interface form legend {
        width: 100%;
        margin-bottom: 30px;
        text-transform: uppercase; }
      .items-container .items-interface form fieldset {
        margin-bottom: 20px; }
        .items-container .items-interface form fieldset:last-of-type {
          margin-bottom: 30px; }
      .items-container .items-interface form label {
        display: block;
        width: 100%;
        font-size: 1.125rem;
        text-transform: capitalize; }
      .items-container .items-interface form input[type=text] {
        width: 100%;
        box-sizing: border-box;
        padding: 5px 10px;
        border: 3px solid #463f3a;
        font-size: 0.875rem;
        transition: 0.7s; }
        .items-container .items-interface form input[type=text]:focus {
          border-color: #f55856; }
      .items-container .items-interface form .cost-range {
        width: 100%;
        display: inline-block; }
        .items-container .items-interface form .cost-range input {
          vertical-align: middle;
          width: 100px; }
      .items-container .items-interface form input[type=submit] {
        padding: 5px 10px;
        background-color: #463f3a;
        color: #FFF;
        font-size: 1.125rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.7s; }
        .items-container .items-interface form input[type=submit]:hover {
          color: #f55856; }
      .items-container .items-interface form .item-sizes, .items-container .items-interface form .item-colors {
        text-align: justify; }
        .items-container .items-interface form .item-sizes label, .items-container .items-interface form .item-colors label {
          display: inline-block;
          vertical-align: top;
          width: 30px;
          height: 30px;
          box-sizing: border-box;
          padding: 2px;
          margin-right: 4px;
          margin-bottom: 4px;
          cursor: pointer;
          font-size: 1rem;
          text-align: center;
          transition: 0.7s; }
        .items-container .items-interface form .item-sizes input[type="checkbox"], .items-container .items-interface form .item-colors input[type="checkbox"] {
          position: fixed;
          left: -9999px;
          display: none; }
      .items-container .items-interface form .item-sizes label {
        border: 2px solid #463f3a; }
        .items-container .items-interface form .item-sizes label:hover {
          border-color: #f55856;
          color: #f55856; }
      .items-container .items-interface form .item-sizes input[type="checkbox"]:checked + label {
        border-color: #463f3a;
        background-color: #463f3a;
        color: #FFF; }
      .items-container .items-interface form .item-colors label {
        background-color: #f55856;
        border: 2.5px solid transparent;
        border-radius: 50%; }
        .items-container .items-interface form .item-colors label[for=black-color] {
          background-color: #222; }
        .items-container .items-interface form .item-colors label[for=yellow-color] {
          background-color: #ffc104; }
        .items-container .items-interface form .item-colors label[for=white-color] {
          background-color: transparent;
          border-color: #463f3a; }
        .items-container .items-interface form .item-colors label[for=red-color] {
          background-color: #9e0b0f; }
        .items-container .items-interface form .item-colors label[for=blue-color] {
          background-color: #0a7aa6; }
        .items-container .items-interface form .item-colors label[for=green-color] {
          background-color: #007236; }
        .items-container .items-interface form .item-colors label:hover {
          border-color: #f55856; }
      .items-container .items-interface form .item-colors input[type="checkbox"]:checked + label {
        border-color: #f55856; }
  .items .items-list {
    width: 70%; }
  @media screen and (max-width: 600px) {
    .items .items-container {
      padding: 0; }
      .items .items-container > div[class] {
        width: 100%; }
      .items .items-container .items-interface {
        padding-left: 5%;
        padding-right: 5%;
        border: none;
        text-align: center; }
        .items .items-container .items-interface .cost-range {
          margin: 0;
          text-align: center; } }

.items-template {
  padding-top: 40px;
  text-align: center; }
  .items-template:nth-child(odd) {
    background-color: #f8f8f8; }
    .items-template:nth-child(odd) h2 span {
      background: #f8f8f8; }
  .items-template h2 {
    margin-bottom: 40px;
    font-size: 1.875rem;
    text-transform: uppercase;
    background-image: url(../img/line-for-h.png);
    background-position: center;
    background-repeat: repeat-x; }
    .items-template h2 span {
      padding: 0 15px;
      background: #FFF; }
    @media screen and (max-width: 600px) {
      .items-template h2 {
        margin-bottom: 0; } }

.quote {
  min-height: 1px;
  padding: 50px 8%;
  background-color: #f5f6f1;
  text-align: center; }
  .quote h2 {
    font-size: 2rem;
    line-height: 3rem; }
  .quote p {
    font-family: museo_t;
    line-height: 2rem; }

.map {
  min-height: 20px;
  height: 20px;
  position: relative;
  transition: 1s; }
  .map #map {
    height: 100%; }
    .map #map .gm-style-cc, .map #map .gmnoprint, .map #map a img[draggable=false] {
      display: none; }
  .map .map-cover {
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .map button.btn-map-open {
    z-index: 5;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid #f55856;
    background-color: #f55856;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 0 0 2px #f55856;
    opacity: 0.9;
    transition: 1s;
    transition-delay: 1s; }
    .map button.btn-map-open:hover {
      box-shadow: 0 0 15px #f55856; }
      .map button.btn-map-open:hover .fa {
        color: #FFF; }
    .map button.btn-map-open .fa {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #FFF;
      transition: 1s; }
  .map.open {
    height: 500px; }
    .map.open .map-cover {
      display: none; }
    .map.open button.btn-map-open {
      bottom: 0;
      transition-delay: 0s; }
      .map.open button.btn-map-open .fa {
        left: 51%;
        top: 53%;
        transform: translate(-50%, -50%) rotate(180deg); }
    @media screen and (max-width: 600px) {
      .map.open {
        height: 300px; } }

.footer {
  min-height: 1px;
  /* timing */ }
  .footer .main-footer {
    min-height: 220px;
    padding: 0 8%;
    background-color: #463f3a;
    color: #FFF; }
    .footer .main-footer > div {
      display: inline-block;
      vertical-align: top;
      line-height: 220px; }
    .footer .main-footer-logo {
      width: 30%; }
      .footer .main-footer-logo img {
        display: inline-block;
        vertical-align: middle; }
    .footer .main-footer-info {
      width: 40%;
      font-family: museo_t;
      font-size: 0.875rem;
      text-align: center; }
    .footer .main-footer-info-mob[class] {
      display: none; }
    .footer .main-footer-button {
      width: 30%;
      text-align: right; }
      .footer .main-footer-button button {
        padding: 0;
        background-color: #3c3631;
        width: 50px;
        height: 50px; }
        .footer .main-footer-button button a {
          display: block;
          color: #FFF; }
          .footer .main-footer-button button a:hover {
            color: #f55856; }
          .footer .main-footer-button button a .fa {
            line-height: 50px; }
    @media screen and (max-width: 1100px) {
      .footer .main-footer {
        min-height: 1px;
        padding-top: 30px;
        padding-bottom: 30px; }
        .footer .main-footer > div[class] {
          width: 100%;
          text-align: center;
          line-height: 100px; }
        .footer .main-footer > div.main-footer-info {
          padding: 20px 0;
          line-height: 2rem; } }
  .footer .footer-info {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #EEE;
    /*
    @media screen and (min-width: 2000px){
        & > div[class]{
            text-align: center;
        }
    }
    */ }
    .footer .footer-info > div {
      display: inline-block;
      vertical-align: middle; }
    .footer .footer-info-icons {
      width: 40%; }
      .footer .footer-info-icons a {
        margin-right: 10px; }
      .footer .footer-info-icons .fa {
        font-size: 1.5rem; }
    .footer .footer-info-developers {
      width: 60%;
      text-align: right;
      font-family: museo_t; }
      .footer .footer-info-developers a {
        color: #f55856; }
    @media screen and (max-width: 700px) {
      .footer .footer-info > div[class] {
        width: 100%;
        text-align: center;
        line-height: 2rem; } }
