@font-face {
  font-family: exo_r;
  src: url(../fonts/Exo2Regular.ttf); }
@font-face {
  font-family: mont_r;
  src: url(../fonts/Montserrat-Regular.otf); }
* {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  min-width: 320px;
  font-size: 20px;
  font-family: exo_r, mont_r, 'Arial'; }

a {
  color: #FFF;
  text-decoration: none;
  transition: 0.7s; }

a:hover {
  color: #ff9700; }

li {
  list-style: none; }

button:focus {
  outline: none; }

.wrapper {
  position: relative;
  min-height: 500px;
  min-height: 100vh; }
  .wrapper header {
    height: 70px;
    padding: 0 5%;
    box-sizing: border-box;
    background-color: #00746b;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .wrapper header > div {
      display: inline-block;
      vertical-align: top;
      line-height: 70px; }
    .wrapper header .logo {
      width: 20%;
      font-size: 2rem; }
    .wrapper header .nav {
      width: 80%;
      text-align: right; }
      .wrapper header .nav li {
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
        font-size: 0.75rem; }
    @media screen and (max-width: 800px) {
      .wrapper header > div[class], .wrapper header .nav li {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
        text-align: center; }
      .wrapper header div.logo {
        margin-bottom: 20px; }
      .wrapper header .nav li:last-child {
        margin-bottom: 0; } }
  .wrapper a.test {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    border: 5px solid #00746b;
    border-radius: 10px;
    font-size: 3rem;
    text-transform: uppercase;
    color: #00746b; }
