@font-face{
	font-family: mont_r;
	src: url(../fonts/Montserrat-Regular.otf);
}
*{
	margin: 0;
	padding: 0;
	border: 0;
}
html{
	font-size: 20px;
	font-family: mont_r, 'Arial';
}
a{
	color: #222;
	text-decoration: none;
}
.wrapper{
	position: relative;
	min-height: 500px;
	min-height: 100vh;
	background-color: #66D8A5;
}
	.wrapper a{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		padding: 5px 10px;
		border: 5px solid #222;
		border-radius: 10px;
		font-size: 3rem;
		text-transform: uppercase;
	}