@font-face {
  font-family: osw_b;
  src: url(../fonts/oswald-bold.ttf); }

@font-face {
  font-family: museo_t;
  src: url(../fonts/MuseoSansCyrl_0.otf); }

@font-face {
  font-family: museo_r;
  src: url(../fonts/MuseoSansCyrl_1.otf); }

@font-face {
  font-family: museo_bold;
  src: url(../fonts/MuseoSansCyrl_2.otf); }

.btn--map {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f55856;
  box-shadow: 0 0 2px #f55856;
  opacity: 0.9;
  background-image: url(../img/btn_map_ico.png);
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat; }
  .btn--map:hover {
    box-shadow: 0 0 15px #f55856; }

.map {
  min-height: 20px;
  height: 20px;
  position: relative;
  transition: 1s; }
  .map #map {
    height: 100%;
    /* we should to reset default properties */ }
    .map #map .gm-style-cc, .map #map .gmnoprint, .map #map a img[draggable=false] {
      display: none; }
  .map-cover {
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .map-btn {
    z-index: 5;
    position: absolute;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    display: inline-block;
    transition: 1s;
    transition-delay: 1s; }
  .map--open {
    height: 500px; }
    .map--open .map-cover {
      display: none; }
    .map--open .map-btn {
      bottom: 0;
      transition-delay: 0s; }
    .map--open .btn--map {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    @media screen and (max-width: 600px) {
      .map--open {
        height: 300px; } }
