@font-face {
  font-family: osw_b;
  src: url(../fonts/oswald-bold.ttf); }

@font-face {
  font-family: museo_t;
  src: url(../fonts/MuseoSansCyrl_0.otf); }

@font-face {
  font-family: museo_r;
  src: url(../fonts/MuseoSansCyrl_1.otf); }

@font-face {
  font-family: museo_bold;
  src: url(../fonts/MuseoSansCyrl_2.otf); }

.popup-error {
  z-index: 12;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0; }

.popup {
  display: none;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .popup-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer; }
    .popup-close .fa {
      z-index: 11;
      color: #FFF;
      font-size: 2rem;
      position: absolute;
      right: 30px;
      top: 30px;
      transition: 0.7s; }
      .popup-close .fa:hover {
        color: #f55856;
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg); }
  .popup-window {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    min-width: 320px;
    box-sizing: border-box;
    padding: 20px 30px;
    background-color: #463f3a;
    color: #FFF;
    font-size: 1.5rem;
    text-align: left; }
    .popup-window-title {
      margin-bottom: 20px;
      border-bottom: 2px solid #FFF;
      font-family: museo_r;
      font-size: 1.25rem;
      line-height: 2rem;
      font-weight: normal;
      text-align: left; }
  .popup.open {
    display: block;
    -webkit-animation: open-popup 0.2s linear;
    animation: open-popup 0.2s linear; }

@-webkit-keyframes open-popup {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes open-popup {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
