@font-face {
  font-family: osw_b;
  src: url(../fonts/oswald-bold.ttf); }

@font-face {
  font-family: museo_t;
  src: url(../fonts/MuseoSansCyrl_0.otf); }

@font-face {
  font-family: museo_r;
  src: url(../fonts/MuseoSansCyrl_1.otf); }

@font-face {
  font-family: museo_bold;
  src: url(../fonts/MuseoSansCyrl_2.otf); }

.shop_cart_fixed {
  z-index: 5;
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(100%);
  -ms-transform: translateY(-50%) translateX(100%);
  transform: translateY(-50%) translateX(100%);
  width: 80px;
  height: 100px;
  border: 3px solid #f55856;
  border-right: none;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  background-color: #463f3a;
  transition: 0.7s; }
  .shop_cart_fixed-info {
    position: absolute;
    top: 50%;
    right: 5px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: right;
    text-transform: uppercase;
    color: #FFF; }
    .shop_cart_fixed-info > span {
      display: inline-block;
      vertical-align: middle;
      width: 100%; }
  .shop_cart_fixed a {
    color: #FFF; }
    .shop_cart_fixed a:hover {
      color: #f55856; }
  .shop_cart_fixed .btn--shop_cart_fixed {
    z-index: 6;
    position: absolute;
    top: 50%;
    left: 0px;
    -webkit-transform: translateY(-50%) translateX(-105%);
    -ms-transform: translateY(-50%) translateX(-105%);
    transform: translateY(-50%) translateX(-105%);
    /*+border of parent*/
    cursor: pointer; }
    .shop_cart_fixed .btn--shop_cart_fixed.fa {
      font-size: 2.5rem;
      color: #f55856;
      transition: 0.7s; }
  .shop_cart_fixed.open {
    -webkit-transform: translateY(-50%) translateX(0);
    -ms-transform: translateY(-50%) translateX(0);
    transform: translateY(-50%) translateX(0); }
    .shop_cart_fixed.open .btn--shop_cart_fixed {
      -webkit-transform: translateY(-50%) translateX(-5%) rotate(180deg);
      -ms-transform: translateY(-50%) translateX(-5%) rotate(180deg);
      transform: translateY(-50%) translateX(-5%) rotate(180deg); }
