@import 'mixins.scss';
@import 'account_form.scss';
@import 'error.scss';
@import 'shop_cart.scss';
@import 'info.scss';
@import 'header.scss';
@import 'features.scss';
@import 'item_review.scss';
@import 'items_search.scss';
@import 'items_list.scss';
@import 'item.scss';
@import 'map.scss';
@import 'note.scss';
@import 'popup.scss';
@import 'shop_cart_fixed.scss';
*{
	margin: 0;
	padding: 0;
	border: 0;
}
html{
    min-width: 321px;
	font-family: osw_b, museo_t, 'Arial';
	font-size: 16px;
    color: $dark-color;
}
a{
	color: $dark-color;
	text-decoration: none;
    transition: color 0.7s;
}
a:hover{
    color: $red-color;
}
li{
    list-style: none;
}
button{
    padding: 10px 0;
    background-color: $dark-color;
    color: $light-color;
    font-family: osw_b;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;

    transition: 0.7s;
    &:hover{
        color: $red-color;
    }
}
input{
    font-family: museo_r;
    &[type=submit]{
        background: none;
        font-family: osw_b;
        cursor: pointer;
    }
}
button:focus, input:focus{
    outline: none;
}
.red-color{
    color: $red-color;
}

.bullsy{
    position: relative;
    &-item_review{
        display: none;
        padding: 100px 8%;
    }
    &-info{
        padding: 0 8%;
    }
    &-header{
        padding: 0 8%;
        background-color: $bg-grey;
    }
    &-features{
        padding: 0 8%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


.wrapper{
    /*
	position: relative;
	min-height: 500px;
	min-height: 100vh;
    min-height: 100px;
    */
    & > div{
        padding: 0 8%;
    }
    @media screen and (min-width: 2200px){
       & > div[class], div > ul{
           text-align: center !important;
       }   
    }
}
.items{
    padding-top: 50px;
    .items_list{
        display: inline-block;
        vertical-align: top;
        width: 70%;
    }
    .items_search{
        display: inline-block;
        vertical-align: top;
        width: 30%;
    }
    @media screen and (max-width: 600px){
        .items-container{
            padding: 0;
            .items_search, .items_list{
                display: block;
                margin: 0 auto;
                width: 100%;
            }
            .items_search{
                padding-left: 5%;
                padding-right: 5%;
                border: none;
                text-align: center;
                .cost-range{
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
}
.items-template{
    &:nth-child(odd){
        background-color: #f8f8f8;
        .items-title{
            .items_title{
                background: #f8f8f8;
            }
        }
    }
    padding-top: 40px;
    text-align: center;
    .items-title{
        margin-bottom: 40px;
        font-size: 1.875rem;
        text-transform: uppercase;
        background-image: url(../img/line-for-h.png);
        background-position: center;
        background-repeat: repeat-x;
        .items_title{
            padding: 0 15px;
            background: $light-color;
        }
        @media screen and (max-width: 600px){
            margin-bottom: 0;
        }
    }
    .items-container{
    }
}
.footer{
    min-height: 1px; /* timing */
    .main-footer{
        min-height: 220px;
        padding: 0 8%;
        background-color: $dark-color;
        color: $light-color;
        & > div{
            display: inline-block;
            vertical-align: top;
            line-height: 220px;
        }
        &-logo{
            width: 30%;
            img{
                display: inline-block;
                vertical-align: middle;
            }
        }
        &-info{
            width: 40%;
            font-family: museo_t;
            font-size: 0.875rem;
            text-align: center;
        }
        &-info-mob[class]{
            display: none;
        }
        &-button_up{
            width: 30%;
            text-align: right;
            .btn-up{
                display: block;
                width: $btn-up-size;
                height: $btn-up-size;
                padding: 0;
                background-color: $btn-bg;
                color: $light-color;
                &:hover{
                    color: $red-color;
                }
                .fa{
                    line-height: $btn-up-size;
                }
            }
        }
        @media screen and (max-width: 1100px){
            min-height: 1px;
            padding-top: 30px;
            padding-bottom: 30px;
            & > div[class]{
                width: 100%;
                text-align: center;
                line-height: 100px;
            }
            & > div.main-footer-info{
                padding: 20px 0;
                line-height: 2rem;
            }
        }
    }
    .footer-info{
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #EEE;
        & > div{
            display: inline-block;
            vertical-align: middle;
        }
        &-icons{
            width: 40%;
            a{
                margin-right: 10px;
            }
            .fa{
                font-size: 1.5rem;
            }
        }
        &-developers{
            width: 60%;
            text-align: right;
            font-family: museo_t;
            a{
                color: $red-color;
            }
        }
        /*
        @media screen and (min-width: 2000px){
            & > div[class]{
                text-align: center;
            }
        }
        */
        @media screen and (max-width: 700px){
            & > div[class]{
                width: 100%;
                text-align: center;
                line-height: 2rem;
            }
        }
    }
}