.shop_cart_fixed{
    z-index: 5;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(100%);
    width: 80px;
    height: 100px;
    border: 3px solid $red-color;
    border-right: none;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: $dark-color;

    transition: 0.7s;
    
    .shop_cart{
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
    }
    &-btn{
        z-index: 6;
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%) translateX(-105%); /*+border of parent*/
        font-size: 2.5rem;
        color: $red-color;
        
        cursor: pointer;
        transition: 0.7s;
    }
    &.open{
        transform: translateY(-50%) translateX(0);
        .shop_cart_fixed-btn{
            transform: translateY(-50%) translateX(-5%) rotate(180deg) ;
        }
    }
}