@font-face {
  font-family: osw_b;
  src: url(../fonts/oswald-bold.ttf); }

@font-face {
  font-family: museo_t;
  src: url(../fonts/MuseoSansCyrl_0.otf); }

@font-face {
  font-family: museo_r;
  src: url(../fonts/MuseoSansCyrl_1.otf); }

@font-face {
  font-family: museo_bold;
  src: url(../fonts/MuseoSansCyrl_2.otf); }

.account_form {
  position: relative; }
  .account_form > div {
    position: relative;
    margin-bottom: 30px; }
  .account_form-label {
    margin-bottom: 10px;
    display: inline-block;
    letter-spacing: 2px; }
  .account_form-control {
    position: relative;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 2px solid #FFF;
    color: #463f3a;
    font-family: museo_t;
    font-size: 1.25rem; }
  .account_form-btn {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: #FFF;
    color: #463f3a;
    text-transform: uppercase;
    transition: 0.7s; }
    .account_form-btn:hover {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); }
  .account_form-error {
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0; }
  .account_form > .account_form-error {
    position: absolute;
    top: 0%; }

.error {
  padding: 10px 10px;
  background-color: #f55856;
  text-align: left; }
  .error-title {
    margin-bottom: 5px;
    border-bottom: 2px solid #FFF;
    font-family: museo_bold;
    font-size: 1.5rem; }
  .error-description {
    font-family: museo_bold;
    font-size: 1.25rem; }

.cart_items, .cart_price {
  max-width: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #f55856; }

.shop_cart {
  line-height: initial;
  text-transform: uppercase;
  text-align: right;
  color: #FFF; }
  .shop_cart-btn {
    cursor: pointer;
    color: #FFF; }
    .shop_cart-btn:hover {
      color: #f55856; }
  .shop_cart--line .shop_cart-info {
    display: inline-block;
    vertical-align: middle; }
  .shop_cart--line .shop_cart-items {
    line-height: 24px; }
  .shop_cart--line .shop_cart-price {
    line-height: 24px; }
  .shop_cart--line .shop_cart-btn {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle; }

.info {
  font-family: museo_t;
  font-size: 0.875rem;
  min-height: 40px;
  line-height: 40px; }
  .info > div {
    width: 50%;
    display: inline-block;
    vertical-align: top; }
  .info-support a:nth-child(n+2) {
    margin-left: 15px; }
  .info-support .fa {
    font-size: 1rem; }
  .info-account {
    text-align: right; }
    .info-account li {
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase; }
      .info-account li:nth-child(n+2) {
        margin-left: 15px; }
  @media screen and (max-width: 800px) {
    .info > div[class] {
      width: 100%;
      text-align: center; } }
  @media screen and (max-width: 500px) {
    .info-support a:nth-child(n) {
      display: block;
      margin: 0; }
    .info-account li:nth-child(n) {
      width: 50%;
      margin: 0; } }

.header {
  min-height: 170px;
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: justify; }
  .header > div {
    display: inline-block;
    vertical-align: top;
    line-height: 170px; }
  .header-logo {
    width: 25%; }
    .header-logo img {
      display: inline-block;
      vertical-align: middle; }
  .header .nav {
    width: 50%;
    font-family: museo_r;
    font-size: 1.125rem;
    text-align: center; }
    .header .nav-list {
      margin-left: 30px; }
      .header .nav-list:first-child {
        margin: 0; }
      .header .nav-list:nth-child(n+2) {
        position: relative; }
        .header .nav-list:nth-child(n+2):before {
          display: inline-block;
          content: "";
          position: absolute;
          top: 50%;
          left: -18px;
          -webkit-transform: translateY(-50%) rotate(20deg);
          -ms-transform: translateY(-50%) rotate(20deg);
          transform: translateY(-50%) rotate(20deg);
          height: 1.125rem;
          border-right: 2px solid #f55856; }
  .header-shop_cart {
    width: 25%;
    text-align: right; }
    .header-shop_cart .shop_cart {
      display: inline-block;
      vertical-align: middle;
      color: #463f3a; }
      .header-shop_cart .shop_cart-btn {
        font-size: 40px;
        color: #463f3a; }
        .header-shop_cart .shop_cart-btn:hover {
          color: #f55856; }
  @media screen and (max-width: 1100px) {
    .header {
      padding: 2rem 0; }
      .header > div[class] {
        width: 100%;
        margin-left: 0;
        text-align: center;
        line-height: 6rem; }
      .header .nav {
        line-height: 100px; }
        .header .nav-list:last-child {
          margin-bottom: 0; } }
  @media screen and (max-width: 550px) {
    .header .nav-list {
      display: inline-block;
      width: 50%;
      margin: 0;
      line-height: initial; }
      .header .nav-list:nth-child(n):before {
        display: none; } }

.features {
  text-align: center; }
  .features-box {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 120px;
    box-sizing: border-box;
    padding: 25px 10px;
    margin: 0 20px 20px 20px;
    background-color: #f5f6f1; }
  .features-name {
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .features-description {
    font-family: museo_bold;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  @media screen and (max-width: 600px) {
    .features-box {
      width: 280px;
      padding: 25px 10px;
      margin: 0 0 20px 0; } }

.item_review-title {
  margin-bottom: 50px;
  text-align: center; }

.item_review-item {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  text-align: center; }
  .item_review-item .item {
    position: relative;
    margin: 0 -100px;
    display: inline-block;
    transition: .3s;
    background-color: #FFF;
    z-index: -1;
    -webkit-transform: rotateY(45deg);
    transform: rotateY(45deg); }
    .item_review-item .item:hover {
      -webkit-animation: test 0.3s linear forwards;
      animation: test 0.3s linear forwards;
      opacity: 1; }

@-webkit-keyframes test {
  0% {
    -webkit-transform: rotateY(45deg) translateX(0);
    transform: rotateY(45deg) translateX(0); }
  50% {
    -webkit-transform: rotateY(45deg) translateX(-50%);
    transform: rotateY(45deg) translateX(-50%); }
  100% {
    -webkit-transform: rotateY(0) scale(1.3);
    transform: rotateY(0) scale(1.3);
    z-index: 1000; } }

@keyframes test {
  0% {
    -webkit-transform: rotateY(45deg) translateX(0);
    transform: rotateY(45deg) translateX(0); }
  50% {
    -webkit-transform: rotateY(45deg) translateX(-50%);
    transform: rotateY(45deg) translateX(-50%); }
  100% {
    -webkit-transform: rotateY(0) scale(1.3);
    transform: rotateY(0) scale(1.3);
    z-index: 1000; } }

@media screen and (max-width: 800px) {
  .item_review {
    display: none; } }

.set_price-select {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  padding: 5px 10px;
  border: 3px solid #463f3a;
  font-size: 0.875rem;
  transition: 0.3s; }
  .set_price-select:focus {
    border-color: #f55856; }

/*
.set-sizes{
    text-align: justify;
    &-select{

    }
}
*/
.set_sizes, .set_colors {
  text-align: justify; }
  .set_sizes-select, .set_colors-select {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    padding: 2px;
    margin-right: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    transition: 0.7s; }
  .set_sizes input[type="checkbox"], .set_colors input[type="checkbox"] {
    position: fixed;
    left: -9999px;
    display: none; }

.set_sizes-select {
  border: 2px solid #463f3a; }
  .set_sizes-select:hover {
    border-color: #f55856;
    color: #f55856; }

.set_sizes input[type="checkbox"]:checked + label {
  border-color: #463f3a;
  background-color: #463f3a;
  color: #FFF; }

.set_colors-select {
  position: relative;
  background-color: #f55856;
  border: 2.5px solid transparent;
  border-radius: 50%; }
  .set_colors-select:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: "\2714";
    color: #FFF;
    font-size: 18px;
    opacity: 0;
    transition: 0.3s; }
  .set_colors-select:hover:after {
    opacity: 1; }
  .set_colors-select--black {
    background-color: #222; }
  .set_colors-select--yellow {
    background-color: #ffc104; }
  .set_colors-select--white {
    background-color: transparent;
    border-color: #463f3a; }
    .set_colors-select--white:after {
      color: #463f3a; }
  .set_colors-select--red {
    background-color: #ed1c24; }
  .set_colors-select--blue {
    background-color: #0a7aa6; }
  .set_colors-select--green {
    background-color: #007236; }
  .set_colors-select--purple {
    background-color: #9c27b0; }
  .set_colors-select--sea {
    background-color: #00746b; }
  .set_colors-select--pink {
    background-color: #f72f5f; }
  .set_colors-select--grey {
    background-color: #687173; }
  .set_colors-select--brown {
    background-color: #a0410d; }
  .set_colors-select--olive {
    background-color: #779324; }
  .set_colors-select--orange {
    background-color: #dea123; }
  .set_colors-select--sand {
    background-color: #D7B963; }
  .set_colors-select--military {
    background-color: #007236;
    background-image: url(../img/military-icon1.png);
    background-size: 225% 225%; }
  .set_colors-select--multicolor {
    background-color: transparent;
    background-image: url(../img/colors_icon.png);
    background-position: center;
    background-size: 150% 150%; }

.set_colors input[type="checkbox"]:checked + label:after {
  opacity: 1; }

.items_search {
  box-sizing: border-box;
  max-width: 300px;
  color: #463f3a;
  font-size: 1.5rem;
  text-align: left; }
  .items_search > div {
    margin-bottom: 20px; }
    .items_search > div:last-of-type {
      margin-bottom: 30px; }
  .items_search-title {
    margin-bottom: 30px;
    text-transform: uppercase; }
  .items_search-label {
    display: inline-block;
    font-size: 1.125rem;
    text-transform: capitalize; }
  .items_search-select {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    border: 3px solid #463f3a;
    font-size: 0.875rem;
    transition: 0.3s; }
    .items_search-select:focus {
      border-color: #f55856; }
  .items_search-btn {
    padding: 5px 10px;
    background-color: #463f3a;
    color: #FFF;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.7s; }
    .items_search-btn:hover {
      color: #f55856; }

.items_list {
  text-align: center; }
  .items_list .item-container {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
    margin-bottom: 40px; }
    .items_list .item-container .item {
      margin: 0 auto; }
  @media screen and (max-width: 600px) {
    .items_list {
      padding-top: 50px; }
      .items_list .item-container {
        width: 100%;
        padding: 0; } }

.item {
  width: 275px;
  text-align: left; }
  .item-img {
    width: 100%;
    height: 200px; }
  .item-name {
    max-height: 2.25rem;
    line-height: 2.25rem;
    font-family: museo_r;
    font-size: 1.125rem;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .item-price {
    margin-bottom: 10px;
    max-height: 2rem;
    line-height: 2rem;
    font-family: museo_bold;
    font-size: 1.25rem;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .item button {
    width: 100%; }
    .item button.clicked {
      background-color: #f55856; }
      .item button.clicked:hover {
        color: #FFF; }

.btn--map {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f55856;
  box-shadow: 0 0 2px #f55856;
  opacity: 0.9;
  background-image: url(../img/btn_map_ico.png);
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat; }
  .btn--map:hover {
    box-shadow: 0 0 15px #f55856; }

.map {
  min-height: 20px;
  height: 20px;
  position: relative;
  transition: 1s; }
  .map #map {
    height: 100%;
    /* we should to reset default properties */ }
    .map #map .gm-style-cc, .map #map .gmnoprint, .map #map a img[draggable=false] {
      display: none; }
  .map-cover {
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .map-btn {
    z-index: 5;
    position: absolute;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    display: inline-block;
    transition: 1s;
    transition-delay: 1s; }
  .map--open {
    height: 500px; }
    .map--open .map-cover {
      display: none; }
    .map--open .map-btn {
      bottom: 0;
      transition-delay: 0s; }
    .map--open .btn--map {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    @media screen and (max-width: 600px) {
      .map--open {
        height: 300px; } }

.note {
  min-height: 1px;
  padding: 50px 8%;
  background-color: #f5f6f1;
  text-align: center; }
  .note-title {
    font-size: 2rem;
    line-height: 3rem; }
  .note-content {
    font-family: museo_t;
    line-height: 2rem; }

.popup-error {
  z-index: 12;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0; }

.popup {
  display: none;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .popup-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer; }
    .popup-close .fa {
      z-index: 11;
      color: #FFF;
      font-size: 2rem;
      position: absolute;
      right: 30px;
      top: 30px;
      transition: 0.7s; }
      .popup-close .fa:hover {
        color: #f55856;
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg); }
  .popup-window {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    min-width: 320px;
    box-sizing: border-box;
    padding: 20px 30px;
    background-color: #463f3a;
    color: #FFF;
    font-size: 1.5rem;
    text-align: left; }
    .popup-window-title {
      margin-bottom: 20px;
      border-bottom: 2px solid #FFF;
      font-family: museo_r;
      font-size: 1.25rem;
      line-height: 2rem;
      font-weight: normal;
      text-align: left; }
  .popup.open {
    display: block;
    -webkit-animation: open-popup 0.2s linear;
    animation: open-popup 0.2s linear; }

@-webkit-keyframes open-popup {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes open-popup {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.shop_cart_fixed {
  z-index: 5;
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(100%);
  -ms-transform: translateY(-50%) translateX(100%);
  transform: translateY(-50%) translateX(100%);
  width: 80px;
  height: 100px;
  border: 3px solid #f55856;
  border-right: none;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  background-color: #463f3a;
  transition: 0.7s; }
  .shop_cart_fixed .shop_cart {
    position: absolute;
    top: 50%;
    right: 5px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .shop_cart_fixed-btn {
    z-index: 6;
    position: absolute;
    top: 50%;
    left: 0px;
    -webkit-transform: translateY(-50%) translateX(-105%);
    -ms-transform: translateY(-50%) translateX(-105%);
    transform: translateY(-50%) translateX(-105%);
    /*+border of parent*/
    font-size: 2.5rem;
    color: #f55856;
    cursor: pointer;
    transition: 0.7s; }
  .shop_cart_fixed.open {
    -webkit-transform: translateY(-50%) translateX(0);
    -ms-transform: translateY(-50%) translateX(0);
    transform: translateY(-50%) translateX(0); }
    .shop_cart_fixed.open .shop_cart_fixed-btn {
      -webkit-transform: translateY(-50%) translateX(-5%) rotate(180deg);
      -ms-transform: translateY(-50%) translateX(-5%) rotate(180deg);
      transform: translateY(-50%) translateX(-5%) rotate(180deg); }

* {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  min-width: 321px;
  font-family: osw_b, museo_t, 'Arial';
  font-size: 16px;
  color: #463f3a; }

a {
  color: #463f3a;
  text-decoration: none;
  transition: color 0.7s; }

a:hover {
  color: #f55856; }

li {
  list-style: none; }

button {
  padding: 10px 0;
  background-color: #463f3a;
  color: #FFF;
  font-family: osw_b;
  font-size: 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.7s; }
  button:hover {
    color: #f55856; }

input {
  font-family: museo_r; }
  input[type=submit] {
    background: none;
    font-family: osw_b;
    cursor: pointer; }

button:focus, input:focus {
  outline: none; }

.red-color {
  color: #f55856; }

.bullsy {
  position: relative; }
  .bullsy-item_review {
    display: none;
    padding: 100px 8%; }
  .bullsy-info {
    padding: 0 8%; }
  .bullsy-header {
    padding: 0 8%;
    background-color: #f5f6f1; }
  .bullsy-features {
    padding: 0 8%;
    padding-top: 20px;
    padding-bottom: 20px; }

.wrapper {
  /*
	position: relative;
	min-height: 500px;
	min-height: 100vh;
    min-height: 100px;
    */ }
  .wrapper > div {
    padding: 0 8%; }
  @media screen and (min-width: 2200px) {
    .wrapper > div[class], .wrapper div > ul {
      text-align: center !important; } }

.items {
  padding-top: 50px; }
  .items .items_list {
    display: inline-block;
    vertical-align: top;
    width: 70%; }
  .items .items_search {
    display: inline-block;
    vertical-align: top;
    width: 30%; }
  @media screen and (max-width: 600px) {
    .items .items-container {
      padding: 0; }
      .items .items-container .items_search, .items .items-container .items_list {
        display: block;
        margin: 0 auto;
        width: 100%; }
      .items .items-container .items_search {
        padding-left: 5%;
        padding-right: 5%;
        border: none;
        text-align: center; }
        .items .items-container .items_search .cost-range {
          margin: 0;
          text-align: center; } }

.items-template {
  padding-top: 40px;
  text-align: center; }
  .items-template:nth-child(odd) {
    background-color: #f8f8f8; }
    .items-template:nth-child(odd) .items-title .items_title {
      background: #f8f8f8; }
  .items-template .items-title {
    margin-bottom: 40px;
    font-size: 1.875rem;
    text-transform: uppercase;
    background-image: url(../img/line-for-h.png);
    background-position: center;
    background-repeat: repeat-x; }
    .items-template .items-title .items_title {
      padding: 0 15px;
      background: #FFF; }
    @media screen and (max-width: 600px) {
      .items-template .items-title {
        margin-bottom: 0; } }

.footer {
  min-height: 1px;
  /* timing */ }
  .footer .main-footer {
    min-height: 220px;
    padding: 0 8%;
    background-color: #463f3a;
    color: #FFF; }
    .footer .main-footer > div {
      display: inline-block;
      vertical-align: top;
      line-height: 220px; }
    .footer .main-footer-logo {
      width: 30%; }
      .footer .main-footer-logo img {
        display: inline-block;
        vertical-align: middle; }
    .footer .main-footer-info {
      width: 40%;
      font-family: museo_t;
      font-size: 0.875rem;
      text-align: center; }
    .footer .main-footer-info-mob[class] {
      display: none; }
    .footer .main-footer-button_up {
      width: 30%;
      text-align: right; }
      .footer .main-footer-button_up .btn-up {
        display: block;
        width: 50px;
        height: 50px;
        padding: 0;
        background-color: #3c3631;
        color: #FFF; }
        .footer .main-footer-button_up .btn-up:hover {
          color: #f55856; }
        .footer .main-footer-button_up .btn-up .fa {
          line-height: 50px; }
    @media screen and (max-width: 1100px) {
      .footer .main-footer {
        min-height: 1px;
        padding-top: 30px;
        padding-bottom: 30px; }
        .footer .main-footer > div[class] {
          width: 100%;
          text-align: center;
          line-height: 100px; }
        .footer .main-footer > div.main-footer-info {
          padding: 20px 0;
          line-height: 2rem; } }
  .footer .footer-info {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #EEE;
    /*
        @media screen and (min-width: 2000px){
            & > div[class]{
                text-align: center;
            }
        }
        */ }
    .footer .footer-info > div {
      display: inline-block;
      vertical-align: middle; }
    .footer .footer-info-icons {
      width: 40%; }
      .footer .footer-info-icons a {
        margin-right: 10px; }
      .footer .footer-info-icons .fa {
        font-size: 1.5rem; }
    .footer .footer-info-developers {
      width: 60%;
      text-align: right;
      font-family: museo_t; }
      .footer .footer-info-developers a {
        color: #f55856; }
    @media screen and (max-width: 700px) {
      .footer .footer-info > div[class] {
        width: 100%;
        text-align: center;
        line-height: 2rem; } }
