@font-face{
    font-family: osw_b;
    src: url(../fonts/oswald-bold.ttf);
}
@font-face{
	font-family: museo_t;
	src: url(../fonts/MuseoSansCyrl_0.otf);
}
@font-face{
    font-family: museo_r;
    src: url(../fonts/MuseoSansCyrl_1.otf);
}
@font-face{
    font-family: museo_bold;
    src: url(../fonts/MuseoSansCyrl_2.otf);
}
$dark-color: #463f3a;
$light-color: #FFF;
$red-color: #f55856;
$bg-color: $dark-color;
$bg-grey: #f5f6f1;
$hover-color: #ff9700;

$info-height: 40px;
$header-height: 170px;

$item-height: 340px;
$item-width: 275px;

*{
	margin: 0;
	padding: 0;
	border: 0;
}
html{
    min-width: 320px;
	font-family: osw_b, museo_t, 'Arial';
	font-size: 16px;
    color: $dark-color;
}
a{
	color: $dark-color;
	text-decoration: none;
    transition: color 0.7s;
}
a:hover{
    color: $red-color;
}
li{
    list-style: none;
}
button{
    padding: 10px 0;
    background-color: $dark-color;
    color: $light-color;
    font-family: osw_b;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;

    transition: 0.7s;
    &:hover{
        color: $red-color;
    }
}
input{
    font-size: museo_r;
    &[type=submit]{
        background: none;
        font-family: osw_b;
        cursor: pointer;
    }
}
button:focus, input:focus{
    outline: none;
}
.red-color{
    color: $red-color;
}
.wrapper{
	position: relative;
    /*
	min-height: 500px;
	min-height: 100vh;
    */
    min-height: 200px;
    & > div{
        padding: 0 8%;
    }
}
.intro{
    .info{
        font-family: museo_t;
        font-size: 0.875rem;
        min-height: $info-height;
        line-height: $info-height;
        & > div{
            width: 50%;
            display: inline-block;
            vertical-align: top;
        }
        .info-support{
            a:nth-child(n+2){
                    margin-left: 15px;
                }
            .fa{
                font-size: 1rem;
            }
        }
        .info-account{
            text-align: right;
            li{
                display: inline-block;
                vertical-align: top;
                text-transform: uppercase;
                &:nth-child(n+2){
                    margin-left: 15px;
                }
            }
        }
        @media screen and (max-width: 800px){
            & > div[class]{
                width: 100%;
                text-align: center;
        }
        @media screen and (max-width: 500px){
            .info-support a:nth-child(n){
                display: block;
                margin: 0;
            }
            .info-account li:nth-child(n){
                width: 50%;
                margin: 0;
            }
        }
        }
    }
    .header-container{
        background-color: $bg-grey;

        header{
            min-height: $header-height;
            box-sizing: border-box;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: justify;

            & > div{
                display: inline-block;
                vertical-align: top;
                line-height: $header-height;
            }
            .logo{
                width: 30%;
                img{
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .nav{
                width: 55%;
                font-family: museo_r;
                font-size: 1.125rem;
                text-align: center;
                li{
                    display: inline-block;
                    vertical-align: top;
                    margin-left: 30px;
                    &:first-child{
                        margin: 0;
                    }
                    &:nth-child(n+2){
                        position: relative;
                        &:before{
                            display: inline-block;
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: -18px;
                            transform: translateY(-50%) rotate(20deg);
                            height: 1.125rem;
                            border-right: 2px solid $red-color;
                        }
                    }
                }
            }
            .shop-card{
                width: 15%;
                text-align: right;
                & > div{
                    display: inline-block;
                    vertical-align: top;
                }
                .shop-card-info{
                    vertical-align: middle;
                    & > span{
                        display: block;
                        line-height: 1.5rem;
                    }
                }
                .shop-card-icon{
                    margin-left: 5px;
                    img{
                        vertical-align: middle;
                        margin-bottom: 4px;
                    }
                }
            }
            @media screen and (max-width: 1000px){
                padding: 2rem 0;
                & > div[class]{
                    width: 100%;
                    margin-left: 0;
                    text-align: center;
                    line-height: 6rem;
                }
                .nav{
                    line-height: 100px;
                    li:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            @media screen and (max-width: 550px){
                div.nav ul{
                    line-height: 3rem;
                    li{
                        width: 50%;
                        margin: 0;
                        &:nth-child(n):before{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .slider-container{
        padding: 40px 0;
    }
   
}
.items{
    &-container{
       & > div{
           display: inline-block;
           vertical-align: top;
       }
       .items-interface{
           width: 30%;
           box-sizing: border-box;
           /*border-right: 2px solid $dark-color;*/
           text-align: left;
           color: $dark-color;
           form{
               font-size: 1.5rem;
               legend{
                   width: 100%;
                   margin-bottom: 30px;
                   text-transform: uppercase;
               }
               fieldset{
                    margin-bottom: 20px;
                    &:last-of-type{
                        margin-bottom: 30px;
                    }
               }
               label, label + input{
                   display: inline-block;
                   vertical-align: middle;
                   margin-left: 0;
               }
               label{
                   min-width: 70px;
                   font-size: 1.25rem;
                   text-transform: capitalize;
               }
               input{
                   padding: 5px 10px;
               }
               input[type=text]{
                   width: 100%;
                   box-sizing: border-box;
                   border: 3px solid $dark-color;
                   font-size: 1rem;

                   transition: 0.7s;
                    &:focus{
                        border-color: $red-color;
                    }
               }
                .cost-range{
                    width: 100%;
                    display: inline-block;
                    input{
                        vertical-align: middle;
                        width: 100px;
                    }
                }
                input[type=text], .cost-range{
                   max-width: 400px;
                }
                input[type=submit]{
                    background-color: $dark-color;
                    color: $light-color;
                    font-size: 1.125rem;
                    text-transform: uppercase;
                    letter-spacing: 1px;

                    transition: 0.7s;
                    &:hover{
                        color: $red-color;
                    }
                }
           }
       }
       .items-list{
           width: 70%;
           text-align: center;
           .item-container{
               display: inline-block;
               vertical-align: top;
               min-width: $item-width;
               box-sizing: border-box;
               padding: 0 20px;
               margin-bottom: 40px;
               .item{
                   max-height: $item-height;
                   width: $item-width;
                   margin: 0 auto;
                   text-align: left;
                   img{
                       width: 100%;
                       height: 200px;
                   }
                   & > span{
                       display: block;
                       max-height: 2rem;
                       line-height: 2rem;
                       overflow: hidden;
                       white-space: nowrap;
                       text-overflow: ellipsis;
                   }
                   span:last-of-type{
                       margin-bottom: 10px;
                   }
                   .description{
                       font-size: 1.125rem;
                       font-family: museo_t;
                   }
                   .price{
                        font-family: museo_bold;
                        font-size: 1.25rem;
                   }
                   button{
                        display: inline-block;
                        width: 100%;
                   }
               }
           }
       }
        
    }
    @media screen and (max-width: 600px){
        .items-container{
            padding: 0;
            & > div[class]{
                width: 100%;
            }
            .items-interface{
                padding-left: 5%;
                padding-right: 5%;
                border: none;
                text-align: center;
                .cost-range{
                    margin: 0;
                    text-align: center;
                }
            }
            .items-list{
                padding-top: 50px;
                .item-container{
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }
}
.footer{
    min-height: 1px; /* timing */
    .footer-info{
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #EEE;
        & > div{
            display: inline-block;
            vertical-align: middle;
        }
        &-icons{
            width: 40%;
            a{
                margin-right: 10px;
            }
            .fa{
                font-size: 1.5rem;
            }
        }
        &-developers{
            width: 60%;
            text-align: right;
            font-family: museo_t;
            a{
                color: $red-color;
            }
        }
        /*
        @media screen and (min-width: 2000px){
            & > div[class]{
                text-align: center;
            }
        }
        */
        @media screen and (max-width: 700px){
            & > div[class]{
                width: 100%;
                text-align: center;
                line-height: 2rem;
            }
        }
    }
}