@font-face{
    font-family: osw_b;
    src: url(../fonts/oswald-bold.ttf);
}
@font-face{
	font-family: museo_t;
	src: url(../fonts/MuseoSansCyrl_0.otf);
}
@font-face{
    font-family: museo_r;
    src: url(../fonts/MuseoSansCyrl_1.otf);
}
@font-face{
    font-family: museo_bold;
    src: url(../fonts/MuseoSansCyrl_2.otf);
}
@mixin text-ellipsis(){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
html{
    height: 100vh;
}
body{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.2);
    animation: lal 10s infinite linear;
    animation-delay: 1s;
    @keyframes lal{
        0%{
            transform: translate(-50%,-50%) scale(0.2) rotate(0deg);
        }
        50%{
            transform: translate(-50%,-50%) scale(0.2) rotate(180deg);
        }
        100%{
            transform: translate(-50%,-50%) scale(0.2) rotate(360deg);
        }
    }
}
$dark-color: #463f3a;
$light-color: #FFF;
$red-color: #f55856;
$bg-color: $dark-color;
$bg-grey: #f5f6f1;
$hover-color: #ff9700;

$info-height: 40px;
$header-height: 170px;

$item-height: 340px;
$item-width: 275px;

$btn-up-size: 50px;
$btn-bg: #3c3631;

$features-box-width: 300px;
$features-box-height: 120px; 

$btn-map-size: 50px;
*{
	margin: 0;
	padding: 0;
	border: 0;
}
html{
    min-width: 320px;
	font-family: osw_b, museo_t, 'Arial';
	font-size: 16px;
    color: $dark-color;
}
a{
	color: $dark-color;
	text-decoration: none;
    transition: color 0.7s;
}
a:hover{
    color: $red-color;
}
li{
    list-style: none;
}
button{
    padding: 10px 0;
    background-color: $dark-color;
    color: $light-color;
    font-family: osw_b;
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;

    transition: 0.7s;
    &:hover{
        color: $red-color;
    }
}
input{
    font-family: museo_r;
    &[type=submit]{
        background: none;
        font-family: osw_b;
        cursor: pointer;
    }
}
button:focus, input:focus{
    outline: none;
}
.red-color{
    color: $red-color;
}

/* popup-window-class start */
.popup-window-template{
    display: none;
    z-index: 10;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    .popup-close{
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        cursor: pointer;
        .fa{
            z-index: 11;
            color: $light-color;
            font-size: 2rem;
            position: absolute;
            right: 30px;
            top: 30px;
            transition: 0.7s;
            &:hover{
                color: $red-color;
            }
        }
    }
    .popup-window{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        min-width: 320px;
        box-sizing: border-box;
        padding: 40px;
        background-color: $dark-color;
        /*background: linear-gradient($red-color, $dark-color);*/
        color: $light-color;
        font-size: 2rem;
        text-align: center;
        label{
            display: inline-block;
            margin-bottom: 10px;
            letter-spacing: 2px;
        }
        input{
            margin: 0 auto;
            display: block;
            box-sizing: border-box;
            padding: 5px 10px;
            color: $dark-color;
            font-family: museo_t;
            font-size: 1.5rem;
        }
        input:not([type=submit]){
            margin-bottom: 30px;
            width: 100%;
            max-width: 400px;
            border: 2px solid $light-color;
        }
        button{
            width: auto;
            padding: 5px 10px;
            background-color: $light-color;
            color: $dark-color;
            text-transform: uppercase;
            
            transition: 0.7s;
            &:hover{
                box-shadow: 0 0 20px rgba($light-color, 0.5);
            }
        }
    }
    &.open{
        display: block;
        .popup-window{
            animation: kek 0.5s 2;
            animation-delay: 1s;
            @keyframes kek{
                0%{
                    transform: translate(-50%,-50%) rotate(0deg);
                }
                25%{
                    transform: translate(-50%,-50%) rotate(-2deg);
                }
                50%{
                    transform: translate(-50%,-50%) rotate(0deg);
                }
                75%{
                    transform: translate(-50%,-50%) rotate(2deg);
                }
                100%{
                    transform: translate(-50%,-50%) rotate(0);
                }
            }
        }
    }
}
/* popup-window-class start */


.shop-cart-fixed{
    z-index: 5;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(100%);
    width: 80px;
    height: 100px;
    border: 3px solid $red-color;
    border-right: none;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color: $dark-color;

    transition: 0.7s;
    &-content{
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        text-align: right;
        text-transform: uppercase;
        color: $light-color;
        a{
            color: $light-color;
            &:hover{
                color: $red-color;
            }
        }
        & > span{
            
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        }
    }
    .btn-cart-fixed{
        z-index: 6;
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%) translateX(-105%); /*+border of parent*/
        cursor: pointer;
        &.fa{
            font-size: 2.5rem;
            color: $red-color;
            transition: 0.7s;
        }
    }
    &.open{
        transform: translateY(-50%) translateX(0);
        .btn-cart-fixed{
            transform: translateY(-50%) translateX(-5%) rotate(180deg) ;
        }
    }
}

.wrapper{
    /*
	position: relative;
	min-height: 500px;
	min-height: 100vh;
    min-height: 100px;
    */
    & > div{
        padding: 0 8%;
    }
    @media screen and (min-width: 2200px){
       & > div[class], div > ul{
           text-align: center !important;
       }   
    }
}
.intro{
    .info{
        font-family: museo_t;
        font-size: 0.875rem;
        min-height: $info-height;
        line-height: $info-height;
        & > div{
            width: 50%;
            display: inline-block;
            vertical-align: top;
        }
        &-support{
            a:nth-child(n+2){
                    margin-left: 15px;
                }
            .fa{
                font-size: 1rem;
            }
        }
        &-account{
            text-align: right;
            li{
                display: inline-block;
                vertical-align: top;
                text-transform: uppercase;
                &:nth-child(n+2){
                    margin-left: 15px;
                }
            }
        }
        @media screen and (max-width: 800px){
            & > div[class]{
                width: 100%;
                text-align: center;
            }
        }
        @media screen and (max-width: 500px){
            &-support a:nth-child(n){
                display: block;
                margin: 0;
            }
            &-account li:nth-child(n){
                width: 50%;
                margin: 0;
            }
        }
    }
    .header-container{
        background-color: $bg-grey;

        header{
            min-height: $header-height;
            box-sizing: border-box;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: justify;

            & > div{
                display: inline-block;
                vertical-align: top;
                line-height: $header-height;
            }
            .logo{
                width: 25%;
                img{
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .nav{
                width: 50%;
                font-family: museo_r;
                font-size: 1.125rem;
                text-align: center;
                li{
                    display: inline-block;
                    vertical-align: top;
                    margin-left: 30px;
                    &:first-child{
                        margin: 0;
                    }
                    &:nth-child(n+2){
                        position: relative;
                        &:before{
                            display: inline-block;
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: -18px;
                            transform: translateY(-50%) rotate(20deg);
                            height: 1.125rem;
                            border-right: 2px solid $red-color;
                        }
                    }
                }
            }
            .shop-card{
                width: 25%;
                text-align: right;
                & > div{
                    display: inline-block;
                    vertical-align: top;
                }
                .shop-card-info{
                    vertical-align: middle;
                    & > span{
                        display: block;
                        max-width: 100px;
                        @include text-ellipsis();
                        line-height: 1.5rem;
                    }
                }
                .shop-card-icon{
                    margin-left: 5px;
                    img{
                        vertical-align: middle;
                        margin-bottom: 4px;
                    }
                }
            }
            @media screen and (max-width: 1100px){
                padding: 2rem 0;
                & > div[class]{
                    width: 100%;
                    margin-left: 0;
                    text-align: center;
                    line-height: 6rem;
                }
                .nav{
                    line-height: 100px;
                    li:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            @media screen and (max-width: 550px){
                div.nav ul{
                    line-height: 3rem;
                    li{
                        width: 50%;
                        margin: 0;
                        &:nth-child(n):before{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .slider-container{
        padding-top: 20px;
    }
    .intro-features{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        &-box{
            display: inline-block;
            vertical-align: top;
            width: $features-box-width;
            height: $features-box-height;
            box-sizing: border-box;
            padding: 25px 10px;
            margin: 0 20px 30px 20px;
            background-color: #f5f6f1;
            h3{
                margin-bottom: 10px;
                font-size: 1.5rem;
                text-transform: uppercase;
                @include text-ellipsis();
            }
            p{
                font-family: museo_bold;
                font-size: 0.875rem;
                @include text-ellipsis();
            }
        }
        @media screen and (max-width: 600px){
            &-box{
                width: $features-box-width - 20px;
                padding: 25px 10px;
                margin: 0 0 30px 0;
            }
        }
    }
}
.account{
}
/* Class: Items card start */
.items-list{
    text-align: center;
    .item-container{
        display: inline-block;
        vertical-align: top;
        min-width: $item-width;
        box-sizing: border-box;
        padding: 0 20px;
        margin-bottom: 40px;
        .item{
            max-height: $item-height;
            width: $item-width;
            margin: 0 auto;
            text-align: left;
            img{
                width: 100%;
                height: 200px;
            }
            & > span{
                display: block;
                max-height: 2rem;
                line-height: 2rem;
                @include text-ellipsis();
            }
            span:last-of-type{
                margin-bottom: 10px;
            }
            .description{
                font-size: 1.125rem;
                font-family: museo_t;
            }
            .price{
                font-family: museo_bold;
                font-size: 1.25rem;
            }
            button{
                display: inline-block;
                width: 100%;
                &.clicked{
                    background-color: $red-color;
                    &:hover{
                        color: $light-color;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 600px){
        padding-top: 50px;
        .item-container{
            width: 100%;
            padding: 0;
        }
    }
}
/* Class: Items card end */
.items{
    padding-top: 50px;
    &-container{
       & > div{
           display: inline-block;
           vertical-align: top;
       }
       .items-interface{
           width: 30%;
           box-sizing: border-box;
           /*border-right: 2px solid $dark-color;*/
           text-align: left;
           color: $dark-color;
           form{
               max-width: 300px;
               margin: 0 auto;
               font-size: 1.5rem;
               legend{
                   width: 100%;
                   margin-bottom: 30px;
                   text-transform: uppercase;
               }
               fieldset{
                    margin-bottom: 20px;
                    &:last-of-type{
                        margin-bottom: 30px;
                    }
               }
               label{
                   display: inline-block;
                   margin-right: auto;
                   font-size: 1.125rem;
                   text-transform: capitalize;
               }
               input[type=text]{
                   width: 100%;
                   box-sizing: border-box;
                   padding: 5px 10px;
                   border: 3px solid $dark-color;
                   font-size: 0.875rem;

                   transition: 0.7s;
                    &:focus{
                        border-color: $red-color;
                    }
               }
                .cost-range{
                    width: 100%;
                    display: inline-block;
                    input{
                        vertical-align: middle;
                        width: 100px;
                    }
                }
                input[type=submit]{
                    padding: 5px 10px;
                    background-color: $dark-color;
                    color: $light-color;
                    font-size: 1.125rem;
                    text-transform: uppercase;
                    letter-spacing: 1px;

                    transition: 0.7s;
                    &:hover{
                        color: $red-color;
                    }
                }
                .item-sizes, .item-colors{
                    text-align: justify;
                    label{
                        display: inline-block;
                        vertical-align: top;
                        width: 30px;
                        height: 30px;
                        box-sizing: border-box;
                        padding: 2px;
                        margin-right: 4px;
                        margin-bottom: 4px;
                        cursor: pointer;
                        font-size: 1rem;
                        text-align: center;

                        transition: 0.7s;
                    }
                    input[type="checkbox"]{
                        position: fixed;
                        left: -9999px;
                        display: none;
                    }
                }
                .item-sizes{
                    label{
                        border: 2px solid $dark-color;
                        &:hover{
                            border-color: $red-color;
                            color: $red-color;
                        }
                    }
                    input[type="checkbox"]{
                        &:checked + label{
                            border-color: $dark-color;
                            background-color: $dark-color;
                            color: $light-color;
                        }
                    }
                }
                .item-colors{
                    label{
                        background-color: $red-color;
                        border: 2.5px solid transparent;
                        border-radius: 50%;
                        &[for=black-color]{
                            background-color: #222;
                        }
                        &[for=yellow-color]{
                            background-color: #ffc104;
                        }
                        &[for=white-color]{
                            background-color: transparent;
                            border-color: $dark-color;
                        }
                        &[for=red-color]{
                            background-color: #9e0b0f;
                        }
                        &[for=blue-color]{
                            background-color: #0a7aa6;
                        }
                        &[for=green-color]{
                            background-color: #007236;
                        }
                        &:hover{
                            border-color: $red-color;
                        }
                    }
                    input[type="checkbox"]{
                        &:checked + label{
                            border-color: $red-color;
                        }
                    }
                }
           }
       }
    }
    .items-list{
        width: 70%;
    }
    @media screen and (max-width: 600px){
        .items-container{
            padding: 0;
            & > div[class]{
                width: 100%;
            }
            .items-interface{
                padding-left: 5%;
                padding-right: 5%;
                border: none;
                text-align: center;
                .cost-range{
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
}
.items-template{
    &:nth-child(odd){
        background-color: #f8f8f8;
        h2 span{
            background: #f8f8f8;
        }
    }
    padding-top: 40px;
    text-align: center;
    h2{
        margin-bottom: 40px;
        font-size: 1.875rem;
        text-transform: uppercase;
        background-image: url(../img/line-for-h.png);
        background-position: center;
        background-repeat: repeat-x;
        span{
            padding: 0 15px;
            background: $light-color;
        }
        @media screen and (max-width: 600px){
            margin-bottom: 0;
        }
    }
    .items-container{
        
    }
}
.quote{
    min-height: 1px;
    padding: 50px 8%;
    background-color: #f5f6f1;
    text-align: center;
    h2{
        font-size: 2rem;
        line-height: 3rem;
    }
    p{
        font-family: museo_t;
        line-height: 2rem;
    }
}
.map{
    min-height: 20px;
    height: 20px;
    position: relative;
    transition: 1s;
    #map{
        height: 100%;
        .gm-style-cc, .gmnoprint, a img[draggable=false]{
            display: none;
        }
    }
    .map-cover{
        z-index: 4;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0; 
    }
    button.btn-map-open{
        z-index: 5;
        display: inline-block;
        width: $btn-map-size;
        height: $btn-map-size;
        padding: 0;
        border-radius: 50%;
        border: 2px solid $red-color;
        background-color: $red-color;
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%,50%);
        box-shadow: 0 0 2px $red-color;
        opacity: 0.9;
        transition: 1s;
        transition-delay: 1s;
        &:hover{
            box-shadow: 0 0 15px $red-color;
            .fa{
                color: $light-color;  
            }
        }
        .fa{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: $light-color;
            transition: 1s;
        }
    }
    &.open{
        height: 500px;
        .map-cover{
            display: none;
        }
        button.btn-map-open{
            bottom: 0;
            transition-delay: 0s;
            .fa{
                left: 51%;
                top: 53%;
                transform: translate(-50%, -50%) rotate(180deg);
            }
        }
        @media screen and (max-width: 600px){
            height: 300px;
        }
    }
}
.footer{
    min-height: 1px; /* timing */
    .main-footer{
        min-height: 220px;
        padding: 0 8%;
        background-color: $dark-color;
        color: $light-color;
        & > div{
            display: inline-block;
            vertical-align: top;
            line-height: 220px;
        }
        &-logo{
            width: 30%;
            img{
                display: inline-block;
                vertical-align: middle;
            }
        }
        &-info{
            width: 40%;
            font-family: museo_t;
            font-size: 0.875rem;
            text-align: center;
        }
        &-info-mob[class]{
            display: none;
        }
        &-button_up{
            width: 30%;
            text-align: right;
            .btn-up{
                display: block;
                width: $btn-up-size;
                height: $btn-up-size;
                padding: 0;
                background-color: $btn-bg;
                color: $light-color;
                &:hover{
                    color: $red-color;
                }
                .fa{
                    line-height: $btn-up-size;
                }
            }
        }
        @media screen and (max-width: 1100px){
            min-height: 1px;
            padding-top: 30px;
            padding-bottom: 30px;
            & > div[class]{
                width: 100%;
                text-align: center;
                line-height: 100px;
            }
            & > div.main-footer-info{
                padding: 20px 0;
                line-height: 2rem;
            }
        }
    }
    .footer-info{
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #EEE;
        & > div{
            display: inline-block;
            vertical-align: middle;
        }
        &-icons{
            width: 40%;
            a{
                margin-right: 10px;
            }
            .fa{
                font-size: 1.5rem;
            }
        }
        &-developers{
            width: 60%;
            text-align: right;
            font-family: museo_t;
            a{
                color: $red-color;
            }
        }
        /*
        @media screen and (min-width: 2000px){
            & > div[class]{
                text-align: center;
            }
        }
        */
        @media screen and (max-width: 700px){
            & > div[class]{
                width: 100%;
                text-align: center;
                line-height: 2rem;
            }
        }
    }
}