@font-face{
    font-family: osw_b;
    src: url(../fonts/oswald-bold.ttf);
}
@font-face{
	font-family: museo_t;
	src: url(../fonts/MuseoSansCyrl_0.otf);
}
@font-face{
    font-family: museo_r;
    src: url(../fonts/MuseoSansCyrl_1.otf);
}
$dark-color: #463f3a;
$light-color: #FFF;
$red-color: #f55856;
$bg-color: $dark-color;
$bg-grey: #f5f6f1;
$hover-color: #ff9700;

$info-height: 40px;
$header-height: 170px;

*{
	margin: 0;
	padding: 0;
	border: 0;
}
html{
    min-width: 320px;
	font-family: osw_b, museo_t, 'Arial';
	font-size: 16px;
    color: $dark-color;
}
a{
	color: $dark-color;
	text-decoration: none;
    transition: color 0.7s;
}
a:hover{
    color: $red-color;
}
li{
    list-style: none;
}
button:focus{
    outline: none;
}
.red-color{
    color: $red-color;
}
.wrapper{
	position: relative;
	min-height: 500px;
	min-height: 100vh;

    & > div{
        padding: 0 8%;
    }
}
.intro{
    .info{
        font-family: museo_t;
        font-size: 0.875rem;
        min-height: $info-height;
        line-height: $info-height;
        & > div{
            width: 50%;
            display: inline-block;
            vertical-align: top;
        }
        .info-support{
            a:nth-child(n+2){
                    margin-left: 15px;
                }
            .fa{
                font-size: 1rem;
            }
        }
        .info-account{
            text-align: right;
            li{
                display: inline-block;
                vertical-align: top;
                text-transform: uppercase;
                &:nth-child(n+2){
                    margin-left: 15px;
                }
            }
        }
        @media screen and (max-width: 800px){
            & > div[class]{
                width: 100%;
                text-align: center;
        }
        @media screen and (max-width: 500px){
            .info-support a:nth-child(n){
                display: block;
                margin: 0;
            }
            .info-account li:nth-child(n){
                width: 50%;
                margin: 0;
            }
        }
        }
    }
    .header-container{
        background-color: $bg-grey;

        header{
            min-height: $header-height;
            box-sizing: border-box;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: justify;

            & > div{
                display: inline-block;
                vertical-align: top;
                line-height: $header-height;
            }
            .logo{
                width: 30%;
                img{
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            .nav{
                width: 55%;
                font-family: museo_r;
                font-size: 1.125rem;
                text-align: center;
                li{
                    display: inline-block;
                    vertical-align: top;
                    margin-left: 30px;
                    &:first-child{
                        margin: 0;
                    }
                    &:nth-child(n+2){
                        position: relative;
                        &:before{
                            display: inline-block;
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: -18px;
                            transform: translateY(-50%) rotate(20deg);
                            height: 1.125rem;
                            border-right: 2px solid $red-color;
                        }
                    }
                }
            }
            .shop-card{
                width: 15%;
                text-align: right;
                & > div{
                    display: inline-block;
                    vertical-align: top;
                }
                .shop-card-info{
                    vertical-align: middle;
                    & > span{
                        display: block;
                        line-height: 1.5rem;
                    }
                }
                .shop-card-icon{
                    margin-left: 5px;
                    img{
                        vertical-align: middle;
                        margin-bottom: 4px;
                    }
                }
            }
            @media screen and (max-width: 1000px){
                padding: 2rem 0;
                & > div[class]{
                    width: 100%;
                    margin-left: 0;
                    text-align: center;
                    line-height: 6rem;
                }
                .nav{
                    line-height: 100px;
                    li:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            @media screen and (max-width: 550px){
                div.nav ul{
                    line-height: 3rem;
                    li{
                        width: 50%;
                        margin: 0;
                        &:nth-child(n):before{
                            display: none;
                        }
                    }
                }
            }
        }
    }
   
}