@import 'mixins.scss';
.popup-error{
    z-index: 12;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}
.popup{
    display: none;
    z-index: 10;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);

    &-close{
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        cursor: pointer;
        .fa{
            z-index: 11;
            color: $light-color;
            font-size: 2rem;
            position: absolute;
            right: 30px;
            top: 30px;
            transition: 0.7s;
            &:hover{
                color: $red-color;
                transform:  rotate(360deg);
            }
        }
    }
    &-window{
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        min-width: 320px;
        box-sizing: border-box;
        padding: 20px 30px ;
        background-color: $dark-color;
        color: $light-color;
        font-size: 1.5rem;
        text-align: left;
        &-title{
            margin-bottom: 20px;
            border-bottom: 2px solid $light-color;
            font-family: museo_r;
            font-size: 1.25rem;
            line-height: 2rem;
            font-weight: normal;
            text-align: left;

        }
    }
    &.open{
        display: block;
        animation: open-popup 0.2s linear;
        @keyframes open-popup{
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
    }
}